POSTGRES_URL=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
MAIL=
MAIL_PASSWORD=
JWT_SECRET=
JWT_EXPIRATION=
FRONT_END_URL=
MAILGUN_KEY=
MAILGUN_DOMAIN=
MAILGUN_SENDER=
PAYPAL_CLIENT=
PAYPAL_SECRET=
PAYPAL_MODE=
STRIPE_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIRECT_URI=