POSTGRES_URL=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
SERVER_PORT=
SERVER_ADDRESS=
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
MAIL=
MAIL_PASSWORD=
JWT_SECRET=
JWT_EXPIRATION=
LOCAL_HOST=
LOCAL_HOST_ROUTER=
MAILGUN_KEY=
MAILGUN_DOMAIN=
MAILGUN_SENDER=
PAYPAL_CLIENT=
PAYPAL_SECRET=
PAYPAL_MODE=
STRIPE_KEY=